# Temporary files
__pycache__
*.py[cod]
*.log

# Test files
.cache/
.coverage/

# Output files are excluded from source control.
# If you want to store a report in git, move it to `reports` folder.
data/
data.downloadable/
data.private/
output/

# IDE
.idea/
